.container {
    font-family: 'Saira', sans-serif;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
}


.rightHalf {
    width: 50vw;
    height: 80vh;
    margin-top: 10vh;
    text-align: center;
    float: left;
    border: 5px black solid;
    background: linear-gradient(90deg, rgb(117, 112, 214) 0%, rgb(59, 59, 249) 35%, rgba(0,212,255,1) 100%);;
    color: white
}

.rightHalf h3 {
    font-size: 10px;
}

.container h1 {
    font-weight: 700;
    font-size: 100px;
    padding-top: 5%;
}

.container h3 {
    font-size: 40px;
    padding-bottom: 10%;
}